@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-bg-color: #eee;
    --border-color: #ccc ;
    --txtgrn : #659d89;
    --txtdarkg : #333;
    --txtlightg : #666;
  }

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}


body { 
	max-width: 1480px; 
	margin: 0 auto !important; 
	float: none !important; 
    background-color: var(--main-bg-color);
}

header{
    height: 100vh;
}
header, section{

    padding: 5vh 10vw;
}

li {
    list-style: none;
}

nav ul li{
    display: inline;
    padding-right: 10px;
}
nav ul {
    padding-inline-start: 0px;
}


header a {
    text-decoration: none;
}   

header h1 {
    color: var(--txtgrn);
    font-weight: 400;
}

nav li a{
    color: var(--txtgrn);
}

header ul li {
    text-align: right;
    padding: 4px;
}

header ul img {
    width: 25px;

}

header article {
    width: 500px;
    margin-top: 15vh;
    margin-bottom: 12vh;
}

header a {
    color:var(--txtdarkg)
}
h1 {
    font-size: 50px;
}

header h2 {
    font-size: 35px;
    font-weight: 400;
}

section h3 {
    font-weight: 400;
    font-size: 20px;
}


section {
    border-top: var(--border-color) solid 1px;
}

section:first-child div {
    text-align: center;

}

section:first-child img {
    padding: 15px;
    width: 350px;
}
section p {
    margin-bottom: 40px;
}

section:nth-child(3){
    height: 200vh;
}

/* Inhalt:

link resource 1
image resource 1
THE NEW YORK TIMES — #FOCUS — 10 MIN
Cal Newport: How to Actually, Truly Focus on What You’re Doing
By Tim Herrera


Inhalt:
	
link resource 2
image resource 2
YOUTUBE — #SLEEP — 1H 55MIN
JRE #1109 - Matthew Walker
BY JOE ROGAN

link resource 3
image resource 3
THE GUARDIAN — #SLEEP — 10 MIN
Sleep: How Much Do We Really Need?
BY HANNAH DEVLIN

link resource 4
image resource 4
YOUTUBE — #FOCUS — 9 MIN
I Quit Social Media For 30 days
BY MATT D'AVELLA




 */
