@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-bg-color: #eee;
    --border-color: #ccc ;
    --txtgrn : #659d89;
    --txtdarkg : #333;
    --txtlightg : #666;
  }

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}


body { 
	max-width: 1480px; 
	margin: 0 auto !important; 
	float: none !important; 
    background-color: var(--main-bg-color);
}

header{
    height: 100vh;
}
header, section{

    padding: 5vh 10vw;
}

li {
    list-style: none;
}

nav ul li{
    display: inline;
    padding-right: 10px;
}
nav ul {
    padding-inline-start: 0px;
}


header a {
    text-decoration: none;
}   

header h1 {
    color: var(--txtgrn);
    font-weight: 400;
}

nav li a{
    color: var(--txtgrn);
}

header ul li {
    text-align: right;
    padding: 4px;
}

header ul img {
    width: 25px;

}

header article {
    width: 500px;
    margin-top: 15vh;
    margin-bottom: 12vh;
}

header a ,footer a {
    color:var(--txtdarkg)
}
h1 {
    font-size: 50px;
}

header h2 {
    font-size: 35px;
    font-weight: 400;
}

section h3 {
    font-weight: 400;
    font-size: 20px;
}


section , footer {
    border-top: var(--border-color) solid 1px;
}

section:first-child div {
    text-align: center;

}

section:first-child img {
    margin: 15px;
    width: 300px;
}
section:first-child img:hover {
    box-shadow: 1px 1px 2px var(--border-color), -1px -1px 2px var(--border-color) ;
    

}
section p:last-child {
    margin-bottom: 40px;
}

section:last-child h3 {
    display: block;
    margin-bottom: 60px;
}

section article {
    text-align: center;
    padding: 3px;
    width: 600px;
    margin-bottom: 40px;
}

section article:nth-child(odd) {
    margin-right: 40%;
}
section li:nth-child(even) article{
    margin-left: 40%;
}

section article img {
    width: 600px;
}

footer {
    text-align: center;
    padding: 70px;
}

footer a {
    text-decoration: none;
}